* {
    font-family: sans-serif;
    text-decoration: none;
}

body {
    Margin: 0;
}

H1 {
    text-align: center;
}


.pagediv {
    display: flex;
    height: 80vh;

    border-bottom: 2px solid #282828;
}

.formdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
}

button {
    margin-bottom: 0;
    padding: 1vw 2vw;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #146EA6;
    width: 50%;
    margin-left: 25%;
}

button:hover {
    color: #5F7336;
    transition: all 0.5s;
}

input {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    border: 2px solid #282828;
    border-radius: 5px;
}

.inputdiv {
    display: flex;
    align-items: center;
    margin-left: 8%
}

.inputdiv label {
    width: 100px;
}

.inputdiv input {
    flex-grow: 1;
}

p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divide1 {
    width: 40%;
    border-right: 2px solid #282828;
    padding-left: 5%;
    padding-right: 5%;
}

.divide2 {
    position: relative;
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center
}

.hartje {
    margin-top: -10%;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3%;
}

th,
td {
    border: 2px solid black;
    padding: 8px;
}


.picture {
    height: 4vw;
}


nav {
    padding: 2vw 20vw;
    margin: 0;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    color: #5F7336;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-text,
.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex: 1;
}

.nav a :hover {
    color: #146EA6;
}


footer {
    padding: 2vw 2vw;
    margin: 0;
    background-color: #282828;
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex: 3;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
}

footer p {
    color: #5F7336;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: #5F7336;
    margin: 1vw;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer a:hover {
    color: #146EA6;
}

.hearttext {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 2%;
}